# If you mark your commonly-used packages with stars, you can install them super-simple by typing: apm stars --install.
# There is also Sync Settings: https://atom.io/packages/sync-settings
.atom/.apm/
.atom/blob-store/
.atom/compile-cache/
.atom/dev/
.atom/.npm/
.atom/.node-gyp/
.atom/packages/
.atom/storage/
.atom/nohup.out
.atom/.atom-socket-secret-ubuntu-*
.vscode/extensions
